@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    font-size: 16px;
}

.nav__bar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    color:rgb(44, 44, 44)
}
.brand{
    font-size:1.75rem;
    cursor: pointer;
}

.nav__list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

li{
    list-style: none;
}

.hamburger{
    display: none;
}
.icon{
    font-size: 3rem;
}


@media screen and (max-width:796px) {
    .nav__list{
        display: none;
    }

    .hamburger{
        display: inline-block;
        font-size:2rem;
    }
}